{% extends 'main.html' %}

{% block content %}

<div class="container">
	<h1 class="text-center">Edit poll</h1>
	<div class="row">
		<div class="col-sm-6 offset-sm-3">
			<form action="" method="post">
				{% csrf_token %}

				{% for field in form %}
					<div class="form-group">
						{{ field.errors }}
    				    {{ field.label_tag }}
	   				    {{ field }}
       				 </div>
				{% endfor %}

				<input type="submit" value="Edit" class="btn btn-primary">
				<a href="{% url 'polls:delete_poll' poll.id %}" value="Delete" class="btn btn-danger">Delete</a>
				<a href="{% url 'polls:add_choice' poll.id %}" class="btn btn-warning">Add choice</a>
			</form>
			<h5 class="text-center">Delete choices:</h5>
			<div class="list-group">
				{% for choice in poll.choice_set.all %}
					<a style="margin-bottom: 5px" href="{% url 'polls:delete_choice' choice.id %}" class="btn btn-danger">{{ choice.choice_text }}</a>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

{% endblock %}